.main {
  font-family: "Montserrat", Sans-serif;
  background-image: linear-gradient(
      45deg,
      #ffffff,
      #cceffac4,
      #dcf4fdd9,
      rgb(255, 255, 255)
    ),
    url("../../../../assets/weAre.jpg");
  // background-image: linear-gradient(
  //     45deg,
  //     #ffffff,
  //     #7eddfdc4,
  //     #8ae2ffd9,
  //     rgb(255, 255, 255)
  //   ),
  //   url("../../../../assets/weAre.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .odd {
    padding: 90px 20px;
    background: transparent;
    .head {
      font-size: 40px;
      font-weight: 700;
    }
    .body {
      font-size: 20px;
      margin: 0px 0px 10px;
      text-align: justify;
    }
    .search {
      height: 26rem;
    }
    .founder {
      height: 200px;
      width: 200px;
      border-radius: 300px;
      margin: 10px;
    }
    .name {
      font-size: 20px;
      font-weight: 600;
    }
    .heading {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .even {
    background-color: #68cbebc1;
    padding: 90px 30px;
    .head {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    .body {
      font-size: 20px;
      margin: 0px 10px 10px 0px;
      text-align: justify;
    }
    .text {
      font-size: 20px;
      margin: 0px 10px 20px 0px;
      padding-left: 5rem;
      text-align: justify;
    }
  }
}
