<div class="container-fluid p-0">
  <div class="container odd">
    <div class="row">
      <div class="col-6">
        <p class="head">Who We Are</p>
        <p class="body">
          Expediter Training and Placements is pleased to have you join our
          world. We are driven to help you succeed in fast-paced industries.
          With our practical, hands-on training, you’ll get real-world skills
          and access to a wide range of career prospects. We help you become
          more self-assured and professional so that you can pursue a successful
          career in a smooth and realistic manner.
        </p>
        <p class="body">
          Come learn with us through practical instruction and easy work
          placements. This is where your journey to a successful career in
          dynamic fields starts. Together, let’s mold your future.
        </p>
      </div>
      <div class="col-6">
        <img
          src="../../../../assets/People-search-pana.svg"
          class="search"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="container-fluid even">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="head">Our Mission</div>
          <div class="body">
            We guarantee your success while educating you in a fun, welcoming
            setting. Get individualized advice and realize your objectives with
            our help.
          </div>
        </div>
        <div class="col-6">
          <div class="head">Our Vision</div>
          <div class="body">
            Empower individuals globally, drive industry standards through
            innovation, and ensure a prosperous expediter community.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container odd">
    <div class="row">
      <div class="col">
        <div class="head">Founder's Message</div>
        <img src="../../../../assets/imgfnd.jpg" class="founder" alt="" />
        <p class="name">Azhar Shaikh</p>
        <p class="heading">Founder - Expediter Training and Placements</p>
      </div>
    </div>
    <div class="row">
      <div class="body">
        Greetings! At Expediter Training and Placements, we understand that the
        modern job market demands more than just qualifications—it requires
        practical skills and confidence. I established this institution as a
        stepping stone for individuals like you, where your career aspirations
        are nurtured into accomplishments. Our commitment goes beyond
        traditional education; we focus on empowering you with hands-on
        expertise and real-world insights.
      </div>
      <div class="body">
        I welcome you to join our community where innovation meets education,
        and potential finds purpose. With personalized guidance and a supportive
        environment, Our institution is not just a training ground; it’s a
        launchpad for your successful future. Let’s work together to turn your
        ambitions into achievements.
      </div>
    </div>
  </div>

  <div class="container-fluid even">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="head text-center">Why Choose Us</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text"> <i class="fa-solid fa-user-tie" style="color: #38b6e0"></i>
            Specialized instructors offer real-world expertise, ensuring your
            top-quality education.
          </p>
          <p class="text"><i class="fa-solid fa-user-graduate"  style="color: #38b6e0"></i>
            The accomplishments of our graduates serve as a testament to the
            potency of our curriculum.
          </p>
          <p class="text"> <i class="fa-solid fa-user-check"  style="color: #38b6e0"></i>
            Training that is specifically designed for each individual's
            learning preferences and objectives.
          </p>
          <p class="text"> <i class="fa-solid fa-book-open-reader"  style="color: #38b6e0"></i>
            Gaining knowledge will help you find stable employment and develop
            in your career.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
