<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="head">Who We Are</p>
        <p>
          Expediter Training and Placements is pleased to have you join our
          world. We are driven to help you succeed in fast-paced industries.
          With our practical, hands-on training, you’ll get real-world skills
          and access to a wide range of career prospects. We help you become
          more self-assured and professional so that you can pursue a successful
          career in a smooth and realistic manner. Come learn with us through
          practical instruction and easy work placements. This is where your
          journey to a successful career in dynamic fields starts. Together,
          let’s mold your future.
        </p>
      </div>
    </div>
  </div>
</div>
