<div class="container-fluid p-0">
  <div class="container odd">
    <div class="row">
      <div
        class="col-12"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="text-center heading">
          VNS Training and Placements: Your Gateway to Career Success.
        </h1>
        <p>
          For a better future, get expert instruction, one-on-one mentoring, and
          top placements.
        </p>
        <div class="btn_1 mb-3">
          <button type="button" class="button_1">Get Started</button>
        </div>
      </div>
    </div>
  </div>

  <div class="conatiner even">
    <div class="row">
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/softskill.png" alt="" />
      </div>
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">Soft Skill Training</h1>
        <p class="body">
          Through our specialized soft skill training, you can improve crucial
          abilities like leadership, teamwork, communication, and
          problem-solving. Whether you’re just starting out in your profession
          or have experience, our training will help you communicate
          effectively, get along with others, and boldly handle challenges. Your
          leadership confidence is also increased by our programs. In any
          professional context, we educate you how to lead with assurance, work
          in teams, and communicate effectively.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">Skill Up</button>
        </div>
      </div>
    </div>
  </div>

  <div class="conatiner odd">
    <div class="row">
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">Technical Training</h1>
        <p class="body">
          Maintain your edge with our technical training. Utilizing practical
          experience, learn the newest technology. You’ll acquire the skills
          necessary to succeed in the quick-moving tech sector through our
          programs. Regardless of your level of experience, our training equips
          you for success. By acquiring in-demand tech skills, you may advance
          your career. We make sure you are well-prepared for the job market of
          today by covering cutting-edge themes in our courses.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">Skill Up</button>
        </div>
      </div>
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/technical.png" alt="" />
      </div>
    </div>
  </div>

  <div class="conatiner even">
    <div class="row">
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/nontech.png" alt="" />
      </div>
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">Non-Technical Training</h1>
        <p class="body">
          With our non-technical training, develop your skill set. Our classes
          improve both personal and professional lives, from time management to
          stress reduction. Learn useful skills that go beyond your job. Our
          varied training programs are meant to improve your general wellbeing
          and skill set so that you can succeed at work and in daily life. To
          help you succeed in a range of circumstances, from managing your time
          wisely to dealing with stress successfully, we provide useful tools.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">Achieve More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="conatiner odd">
    <div class="row">
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">HR Consultant</h1>
        <p class="body">
          Together with the help of our knowledgeable consultancy, improve your
          HR procedures. In order to develop a productive staff, we advise you
          on hiring, employee engagement, and HR strategy. For a motivated
          staff, our all-encompassing strategy integrates HR with your mission.
          Utilize specialized HR solutions to achieve your corporate goals. We
          assist you in developing an environment at work that fosters
          development and success. Our consultation services are centered on
          maximizing your HR procedures to build a motivated and effective team.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">HR Excellence</button>
        </div>
      </div>
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Strategic-consulting-pana.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="conatiner even">
    <div class="row">
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Seminar-pana.svg" alt="" />
      </div>
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">Startup Advisory</h1>
        <p class="body">
          Start your startup journey with confidence. Our advising services
          provide the knowledge and perceptions necessary for prosperous
          enterprise. We guide you through the challenges of starting and
          growing your business. You will confidently manage every stage of your
          entrepreneurial experience with us as your dependable partner, from
          conception to sustainable growth and beyond. Utilize our helpful
          suggestions and direction to overcome the difficulties involved in
          starting and growing your business.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">Train Better</button>
        </div>
      </div>
    </div>
  </div>

  <div class="conatiner odd">
    <div class="row">
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">Corporate Training</h1>
        <p class="body">
          Join our specialized corporate training programs, which have been
          carefully designed to match your unique needs, to empower your team.
          Continuous learning is critical in the current fast-paced business
          environment. In order for your business to succeed in the face of
          ongoing change, our training efforts make sure that your staff gain
          vital skills. Our innovative training will help you stay ahead of
          industry trends. We give your employees the tools they need to succeed
          in a corporate world that is constantly changing. By funding your
          employees’ advancement, you can invest in success. maximizing your HR
          procedures to build a motivated and effective team.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">Start Strong</button>
        </div>
      </div>
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img
          src="../../../../assets/corporate_trainer-removebg-preview.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="conatiner even">
    <div class="row">
      <div
        class="col-6 col-x col_first"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Project.svg" alt="" />
      </div>
      <div
        class="col-6 col_secd"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
        <h1 class="head">Government and CSR Project Implementation</h1>
        <p class="body">
          Partner with us to make a positive impact on society. Our services
          help you design and execute effective CSR projects that align with the
          government’s priorities and regulations. We assist you in identifying
          the social needs, selecting the appropriate development sectors, and
          implementing the CSR activities with quality and transparency. With
          our expertise and experience, you can ensure that your CSR projects
          are compliant, impactful, and sustainable. We help you monitor and
          evaluate the outcomes of your CSR projects and report them to the
          relevant authorities.
        </p>
        <div class="btn_1">
          <button type="button" class="button_1">Partner Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container odd">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="card p-5 card_last">
          <div class="card-body">
            <div
              class="d-flex justify-content-between"
              data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="1500"
            >
              <div class="last_card">
                <h1>Transform Your Future Today</h1>
                <h4>Let's get started!</h4>
              </div>
              <button class="btn_2">Connect With Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
