<div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center py-5 align-item-center">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <form class="form">
                <h2 class="title">Contact Us</h2>
                <label>
                  <input
                    class="input"
                    type="text"
                    placeholder=""
                    required="required"
                  />
                  <span>Name</span>
                </label>
  
                <label>
                  <input
                    class="input"
                    type="email"
                    placeholder=""
                    required="required"
                  />
                  <span>Email</span>
                </label>
  
                <label>
                  <input
                    class="input"
                    type="number"
                    placeholder=""
                    required="required"
                  />
                  <span>Mobile No.</span>
                </label>
  
                <label>
                  <input
                    class="input"
                    type="text"
                    placeholder=""
                    required="required"
                  />
                  <span>Address</span>
                </label>
  
                <button class="submit">Submit</button>
              </form>
            </div>
            <div class="col-6 p-0 panels-container">
              <div class="panel right-panel">
                <div class="content">
                  <div class="d-flex">
                    <i class="bi bi-geo-alt-fill icon"></i>
                    <p class="text">Ravi Nagar, Near sony center, Nagpur</p>
                  </div>
                  <div class="d-flex justify-content-center line">
                    <div class="horizontal-line" ></div>
                  </div>
                  <div class="d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <p class="text">0712-2244668</p>
                  </div>
                  <div class="d-flex justify-content-center line">
                    <div class="horizontal-line" ></div>
                  </div>
  
                  <div class="d-flex">
                    <i class="bi bi-envelope icon"></i>
                    <p class="text">vnseducator@gmail.com</p>
                  </div>
                  <div class="d-flex justify-content-center line">
                    <div class="horizontal-line" ></div>
                  </div>
  
                  <div class="d-flex">
                    <i class="bi bi-globe icon"></i>
                    <p class="text">www.vnsEducator.com</p>
                  </div>
                  <div class="d-flex justify-content-center line">
                    <div class="horizontal-line" ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>