<div class="main-section container-fluid mt-6">
<div class="container">
  <div class="clearfix">
    <img src="../../../../assets/Home-img/Career-progress-pana.img.svg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." width="70" height="350">

    <h1>
      Redefine Success with Expediter Training & Placements.
    </h1>
    <h6>
      Develop your skills with professional instruction and targeted placements. Here is where your success story
      begins.
    </h6>
    <div class="main-btn">
      <a class="btn mt-4" href="" role="button">Start Your Journay ></a>
    </div>
  </div><br>
  <hr class="divider">
</div>
</div>

<!-- ------------------------------------- -->
<div class="container-fluid">
  <div class="container-_lool">
    <h2>What We Do</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 d-flex mb-4">
        <div class="card w-100">
          <div class="card-body">
            <i class="fa-solid fa-user-tie"></i>
            <h3>Soft Skill Training</h3>
            <p>Acquire crucial communication skills, such as leadership negotiating, and build firm confidence in work environments. Our training equips you with the skills necessary for handling difficult conversations with ease, promotes productive teamwork, and produces strong leadership roles in every situation.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 d-flex mb-4">
        <div class="card w-100">
          <div class="card-body ">
            <i class="fa-solid fa-laptop-code"></i>
            <h3>Technical Training</h3>
            <p>Sustain your lead in the quickly changing tech industry. Develop practical skills in cutting-edge technology so that you can take on difficult problems and promote innovation in your industry.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 d-flex">
        <div class="card w-100">
          <div class="card-body ">
            <i class="fas fa-user-md"></i>
            <h3>Non-Technical Training</h3>
            <p>Programs that emphasize creativity and critical thinking can help you expand your skill set. Develop flexible problem-solving techniques so you may tackle various projects with assurance and creativity.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 d-flex">
        <div class="card w-100">
          <div class="card-body ">
            <i class="fa-solid fa-users"></i>
            <h3>HR Consultant</h3>
            <p>Get strategic HR solutions that are suited to the requirements of your company. Our skilled HR consultants provide professional assistance on talent management, employee engagement, and organizational development to ensure a harmonious and effective workplace.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="View-btn">
      <a class="btn mt-4" href="#" role="button">View All ></a>
    </div>
  </div>
</div>

<!-- ---------------------- -->
 <section class="element-section">
  <div class="container">
    
  </div>
 </section>