<div class="main-section container-fluid mt-6">
  <div class="container">
    <div class="clearfix">
      <img src="../../../../assets/Home-img/Career-progress-pana.img.svg" class="col-md-6 float-md-end mb-3 ms-md-3"
        alt="..." width="70" height="350">

      <h1>
        Redefine Success with Expediter Training & Placements.
      </h1>
      <h6>
        Develop your skills with professional instruction and targeted placements. Here is where your success story
        begins.
      </h6>
      <div class="main-btn">
        <a class="btn mt-4" href="" role="button">Start Your Journay ></a>
      </div>
    </div><br>
    <hr class="divider">
  </div>
</div>

<!-- ------------------------------------- -->
<!-- <div class="Slider-container mt-5">
  <h2 class="text-center">Our Partners</h2>
  <div id="partnersCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img src="../../../../assets/Home-img/client-3.jpg" class="card-img-top" alt="Partner 1">
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card">
              <img src="../../../../assets/Home-img/client-4.jpg" class="card-img-top" alt="Partner 2">
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="../../../../assets/Home-img/client-5.jpg" class="card-img-top" alt="Partner 3">
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="../../../../assets/Home-img/client-6.jpg" class="card-img-top" alt="Partner 4">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img src="../../../../assets/Home-img/client-3.jpg" class="card-img-top" alt="Partner 5">
            </div>
          </div>
          <div class="col-md-3 d-none d-md-block">
            <div class="card">
              <img src="../../../../assets/Home-img/client-8.jpg" class="card-img-top" alt="Partner 6">
            </div>
          </div>
          <div class="col-md-3 d-none d-md-block">
            <div class="card">
              <img src="../../../../assets/Home-img/client-4.jpg" class="card-img-top" alt="Partner 7">
            </div>
          </div>
          <div class="col-md-3 d-none d-md-block">
            <div class="card">
              <img src="../../../../assets/Home-img/client-6.jpg" class="card-img-top" alt="Partner 8">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#partnersCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#partnersCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->


<!-- ------------------------------------------------------------ -->
<div class="container-fluid">
  <div class="container-_lool">
    <h2>What We Do</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 d-flex mb-4">
        <div class="card w-100">
          <div class="card-body">
            <i class="fa-solid fa-user-tie"></i>
            <h3>Soft Skill Training</h3>
            <p>Acquire crucial communication skills, such as leadership negotiating, and build firm confidence in work
              environments. Our training equips you with the skills necessary for handling difficult conversations with
              ease, promotes productive teamwork, and produces strong leadership roles in every situation.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 d-flex mb-4">
        <div class="card w-100">
          <div class="card-body ">
            <i class="fa-solid fa-laptop-code"></i>
            <h3>Technical Training</h3>
            <p>Sustain your lead in the quickly changing tech industry. Develop practical skills in cutting-edge
              technology so that you can take on difficult problems and promote innovation in your industry.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 d-flex">
        <div class="card w-100">
          <div class="card-body ">
            <i class="fas fa-user-md"></i>
            <h3>Non-Technical Training</h3>
            <p>Programs that emphasize creativity and critical thinking can help you expand your skill set. Develop
              flexible problem-solving techniques so you may tackle various projects with assurance and creativity.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 d-flex">
        <div class="card w-100">
          <div class="card-body ">
            <i class="fa-solid fa-users"></i>
            <h3>HR Consultant</h3>
            <p>Get strategic HR solutions that are suited to the requirements of your company. Our skilled HR
              consultants provide professional assistance on talent management, employee engagement, and organizational
              development to ensure a harmonious and effective workplace.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="View-btn">
      <a class="btn mt-4" href="#" role="button">View All ></a>
    </div>
  </div>
</div>

<!-- ---------------------- ------------------------------->
<div class="lare-more px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Who We Are?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">We are committed to developing people into professionals and companies into market leaders at Expediter Training and Placements. With years of experience and a motivated team of experts, we provide thorough training and consulting services that are suited to your specific requirements.</p>
      <div class="View-btn">
          <a class="btn mt-4" href="" role="button">Larn More...</a>
      </div>
  </div>
</div>
 <!-- ---------------------- ------------------------------->
<section class="element-section">
  <div class="container my-5">
    <h2 class="text-center mb-4">Why Consider Working With Us?</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="feature-box w-100">
          <i class="fas fa-graduation-cap"></i>
          <h5><b>Personalized Guidance</b></h5>
          <p>Personalized guidance to assist you in locating your career.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box w-100">
          <i class="fas fa-laptop"></i>
          <h5><b>Industry Knowledge</b></h5>
          <p>Current industry knowledge and skills for use in the workplace.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fas fa-user-tie"></i>
          <h5><b>Interview Preparation</b></h5>
          <p>Prepare for interviews with mock interviews and resume advice.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box w-100">
          <i class="fas fa-users"></i>
          <h5><b>Strong Network</b></h5>
          <p>Strong network for improved employment chances.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box w-100">
          <i class="fas fa-book"></i>
          <h5><b>Ongoing Learning</b></h5>
          <p>Access to resources for ongoing lifelong learning.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box w-100">
          <i class="fas fa-handshake"></i>
          <h5><b>Expert Advice</b></h5>
          <p>One-on-one advice from experts in the field.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------------------------------- -->
 <section class="next-step">
    <div class="container">
      <h1 class="display-5 fw-bold">Ready to take the next step in your career journey?</h1>
      <p class="col">Let's get started!</p>
      <div class="View-btn">
      <a class="btn mt-4" href="" role="button">Work With Us</a>
    </div>
    </div>
 </section>