<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row">
        <div class="col middle d-flex">
          <div class="col-md-6 col-xs-12 col-sm-12 body-left">
            <div>
             <img src="../../../../../assets/logo_white_1-768x153.png" class="logo" alt="">
            </div>
            <p class="text">
              Expediter Training and Placements, where you may find the best
              possibilities for hands-on training and employment in every
              industry. We put a lot of effort into offering simple training
              programs and simple work placements, making us a dependable option
              for ambitious future.
            </p>
          </div>
          <div class="col-md-1 vertical-line" style="height: 100%"></div>

          <div class="col-md-2 col-xs-12 col-sm-12 body-left">
            <div class="control">
              <p>Quick Links</p>
            </div>
            <p class="text">Home</p>
            <p class="text">Who We Are</p>
            <p class="text">What We Do</p>
            <p class="text">Gallery</p>
            <p class="text">Contact Us</p>
          </div>

          <div class="col-md-1 vertical-line" style="height: 100%"></div>

          <div class="col-md-2 col-xs-12 col-sm-12 body-left">
            <div class="control">
              <p>Contact Us</p>
            </div>
            <p class="text">+91 9999955578</p>
            <p class="text">conatct@vns.com</p>
            <p class="text">Whatsapp</p>
            <p class="text">Nagpur, Maharashtra 440001</p>
          </div>
        </div>
      </div>

      <div style="max-width: 100%">
        <div class="horizontal-line"></div>
      </div>

      <div class="bottom-row py-1">
        <div class="col-md-6 col-xs-12 col-sm-12 bottom-right">
          <p class="text">© 2006 - 2024. www.VNSEductor.com</p>
        </div>
        <div class="col-md-1 vertical-line" style="height: 2rem"></div>
        <div class="col-md-5 col-xs-12 col-sm-12 bottom-left">
          <p class="text">Visitor Agreement & Privacy Policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
