<nav id="navbar" class="navbar navbar-expand-lg m-0">
  <button
    class="navbar-toggler border-0 me-auto"
    type="button"
    data-bs-target="#navbarSupportedContent"
    data-bs-toggle="collapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="open(content)"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <img
    src="../../../../../assets/logo.png"
    class="logo"
    alt=""
    (click)="navigateTo('home')"
  />
  <div
    class="collapse navbar-collapse d-none justify-content-around"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          id="navbar"
          role="button"
          aria-expanded="false"
          (click)="navigateTo('home')"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="navbar"
          role="button"
          aria-expanded="false"
          (click)="navigateTo('about')"
        >
          Who We Are
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="navbar"
          role="button"
          aria-expanded="false"
          (click)="navigateTo('treat')"
        >
          What We Do
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="navbar"
          role="button"
          aria-expanded="false"
          (click)="navigateTo('contact')"
        >
          Gallery
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="navbar"
          role="button"
          aria-expanded="false"
          (click)="navigateTo('contact')"
        >
          Contact Us
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- offcanvas start -->

<ng-template #content let-offcanvas>
  <div class="offcanvas-body">
    <ul class="navbar-nav p-0">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')"
      ></button>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="offcanvas.close('Save click')"
          (click)="navigateTo('home')"
          id="navbar"
          role="button"
          aria-expanded="false"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="offcanvas.close('Save click')"
          (click)="navigateTo('king')"
          id="navbar"
          role="button"
          aria-expanded="false"
        >
          About Us
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="offcanvas.close('Save click')"
          (click)="navigateTo('army')"
          id="navbar"
          role="button"
          aria-expanded="false"
        >
          Blog
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="offcanvas.close('Save click')"
          (click)="navigateTo('coronation')"
          id="navbar"
          role="button"
          aria-expanded="false"
        >
          Services
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="offcanvas.close('Save click')"
          (click)="navigateTo('family')"
          id="navbar"
          role="button"
          aria-expanded="false"
        >
          Contact Us
        </a>
      </li>
    </ul>
  </div>
</ng-template>
<!-- end -->
